<%# サイドバー %>
    <div class="user-show-sidebar">
    
      <%=link_to  user_path(current_user) ,class:"user-info-area" do %>
        <div class="user-info-content">
          <p>お知らせ</p>
          <i class="fas fa-angle-right fa-2x"></i>
        </div>
      <% end %>
    

      <%=link_to  edit_user_path(current_user),class:"user-info-area" do %>
        <div class="user-info-content">
          <p>本人情報</p>
          <i class="fas fa-angle-right fa-2x"></i>
        </div>
      <% end %>

      <%=link_to  "#", class:"user-info-area" do %>
      <div class="user-info-content">
        <p>お気に入り</p>
        <i class="fas fa-angle-right fa-2x"></i>
      </div>
      <% end %>

      <%=link_to  "#",class:"user-info-area" do %>
      <div class="user-info-content">
        <p>レンタル履歴</p>
        <i class="fas fa-angle-right fa-2x"></i>
      </div>
      <% end %>

      <% if current_user.address %>
        <%=link_to  edit_user_address_path(current_user) ,class:"user-info-area" do %>
          <div class="user-info-content">
            <p>住所変更</p> 
            <i class="fas fa-angle-right fa-2x"></i>
          </div>
        <% end %>
      <% else %>
        <%=link_to new_user_address_path(current_user) ,class:"user-info-area" do %>
        <div class="user-info-content">
          <p>住所登録</p>
          <i class="fas fa-angle-right fa-2x"></i>
        </div>
        <% end %>
      <% end %>

      
      <%=link_to  user_card_path(current_user),class:"user-info-area" do %>
        <div class="user-info-content">
          <p>お支払い方法</p>
          <i class="fas fa-angle-right fa-2x"></i>
        </div>
      <% end %>
    </div>