<% if @notifications != [] %>
  <% @notifications.each do |notification|%>
    <%= link_to item_path(notification.item_id), local:true do %>
      <div class="notifications">
        <div class="notification-body">
          <%# 通知の内容 %>
          <div class="notification-message">
            <% if notification.action == "comment"%>
              <%="#{notification.visitor.name}さんが「#{notification.item.name}」に対してコメントしました"%>
            <% else %> 
              <%="#{notification.visitor.name}さんから「#{notification.item.name}」の注文がありました。配送手続きをして下さい。"%>
            <% end %>
          </div>
          <%# コメントされた時間 %>
          <div class="comment-time">
            <i class="far fa-clock"></i>
            <%= notification.created_at.to_s(:datetime_jp) %>
          </div>
        </div>
        <%# 矢印マーク %>
        <i class="fas fa-angle-right fa-2x notication-mark"></i>
      </div>
    <% end %>
  <% end %>
<% else %>

  <div class="nothing-notifications">
    <%="現在お知らせはありません"%>
  </div>
<% end %>
<%# 通知を確認したらcheckedをtrueに変えるヘルパーメソッド %>
<% notification_checkded %>

