<div class="header">
  <%= render "shared/header.html.erb"%>
</div>

<div class="wrapper">
  <div class="user-edit-form-container">

    <div class="user-edit-info">
      
      

      <div class="user-edit-info-fields">
        <%= form_with model: current_user, url: user_path(current_user),  local: true do |f| %>
          <div class="user-edit-info-field">
            <div class="user-edit-info-title">
              名前
            </div>
            <div class="user-edit-info">
              <%= f.text_field :name, class: "form", autofocus: true %>
            </div>
          </div>


          <div class="user-edit-info-field">
            <div class="user-edit-info-title">
              Eメール
            </div>
            <div class="user-edit-info">
              <%= f.text_field :email, class: "form" %>
            </div>
          </div>

          

          <div class="user-edit-info-field">
            <div class="user-edit-info-title">
              会社名
            </div>
            <div class="user-edit-info">
              <%= f.text_field :company_name, class: "form" %>
            </div>
          </div>

          <div class="user-edit-info-field">
            <div class="user-edit-info-title">
              住所
            </div>
            <div class="user-edit-info">
            <% if current_user.address %>
              <%= current_user.address.postal_code%>
              <%= current_user.address.prefecture.name%>
              <%= current_user.address.city_name%>
              <%= current_user.address.house_number%>
              <%= current_user.address.building_name%>
              <%= current_user.address.phone_number%>
            <% else %>
              未登録
              <%= link_to "登録" , new_user_address_path(current_user),method: :get, local: true, class: "user-edit-regist-btn" %>
            <% end %>
            </div>
          </div>

          <div class="user-edit-form-submit">
            <%= f.submit "変更する", class: "form form-btn"%>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>