<div class="header">
  <div class="header-right">
  </div>
  <div class="header-left">
    
    <% if current_user %>
      <div class="login_user">
        <%= current_user.name %>
      </div>
      <div class="sign-out">
        <%=link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class="sign-up">
        <%= link_to "新規登録", new_user_registration_path %>
      </div>
      <div class="sign-in">
        <%=link_to "ログイン", new_user_session_path %>
      </div>
    <% end %>
  </div>
</div>
<div class="wrapper">
  <div class="main-content">
    <div class="new-item-btn">
      <%= link_to new_item_path do %>
        <span>出品する</span>
      <% end %>
    </div>
  </div>
</div>