<div class="header">
  <%= render "shared/header.html.erb"%>
</div>
  
<div class="wrapper">
  <%# トップ画像 %>
  <div class="top-image-field">
    <div class="top-image-text">
      <h1 >創造したものを実現するための手助けします</h1>
      <p>製菓道具を中心としたエコノミーシェアリングのマッチングサイトです</p><br>
      <p>お菓子作りをする上で、道具を買い揃えるのが大変だと思っていませんか？</p><br>
      <p>RENT-Toolsを使えば、そのハードルを下げることができます</p><br>
      <p>さぁ、RENT-Toolsをはじめましょう</p>
    </div>
  </div>

  <div class="item-main-field">
    <div class="top-page-container">
      <%# 商品一覧 %>
      <h2 class="top-page-content-title">商品一覧</h2>
      <ul class= "index-items-field">
          <% @items.each do |item| %>
            <li class= "index-item-list">
              <%= link_to item_path(item) do %>
                <div class="index-item">
                  <div class="index-item-image-field">
                    <%=image_tag item.image,class:"item-image"  %>
                  </div>  
                    <div class="item-stock"><%= item.stock %>個レンタル可能</div>
                    <div class="item-price">1個あたり: ¥<%= item.price %></div>
                </div>
              <% end %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
  <%# フッター %>
  <%= render 'shared/footer'%>
</div>
 

    <%# 出品ボタン  %>
    <div class="new-item-btn">
      <span>出品する</span>
      <%= link_to new_item_path do %>
        <%= image_tag src="camera.png", class:"item-btn-image"%>
      <% end %>
    </div>
   

