<div class="header">
  <%= render "shared/header.html.erb"%>
</div>

<div class="wrapper">
  <div class="search-main-field">
    <%# サイド %>
    <div class="search-side">
      <h5>詳細検索</h5>
      <%# 詳細検索フォーム %>
      <label>キーワード追加</label>
      <input>
      <label>カテゴリー検索</label>
      <input>
      <label>価格</label>
      <input>
      <input class="search-more-btn" type='submit'>
    </div>

    <%# 検索結果 %>
    <div class="search-result">
      <h2 class="search-result-head"><%="セルクル"%>
      <span class="search-result-head-text">の検索結果</span></h2>
      <p class="search-item-num"><%="#{@search_items.length}"%><span>件</span></p>
      <%# 検索結果のItem %>
      <ul class="search-items-field">
        <% @search_items.each do |item| %>
          <li class= "search-item-list">
            <%= link_to item_path(item) do %>
              <div class="search-item">
                <div class="search-item-image-field">
                  <%=image_tag item.image,class:"item-image"  %>
                </div>  
                <div class="item-stock"><%= item.stock %>個レンタル可能</div>
                <div class="item-price">1個あたり: ¥<%= item.price %></div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%# フッター %>
  <%= render 'shared/footer'%>
</div>    