<div class="header">
  <%= render "shared/header.html.erb" %>
</div>

<div class=wrapper>
  <div class="item-container">
    <div class="item-field">
      <%# 商品詳細 %>
        <div class=item-name-box>
          <%= @item.name %>
        </div>
        <div class="item-image-box">
          <%= image_tag @item.image, class:"item-image" %>
        </div>

        <div class="item-explanation">
            <%= @item.explanation %>
          </div>
        
          
        <table  class="details">
          <tbody>
            <tr class="detail">
              <th class="detail-name">出品者</th>
              <td class="detail-text"><%= @item.user.name %></td>  
            </tr>

            <tr class="detail">
              <th class="detail-name">サイズ</th>
              <td class="detail-text"><%= @item.size %></td>  
            </tr>

            <tr class="detail">
              <th class="detail-name">状態</th>
              <td class="detail-text"><%= @item.status.name %></td>
            </tr>

            <tr class="detail">
              <th class="detail-name">配送費</th>
              <td class="detail-text"><%= @item.delivery_fee.name %></td>  
            </tr>

            <tr class="detail">
              <th class="detail-name">配送までの日数</th>
              <td class="detail-text"><%= @item.delivery_date.name %></td>
            </tr>

            <tr class="detail">
              <th class="detail-name">一日あたりの金額</th>
              <td class="detail-text"><%= @item.price %>円
              </td>  
            </tr>
          <tbody>
        </table>
      <%# /商品詳細 %>

    </div>
    
  </div>
</div>