<div class="header">
  <%= render "shared/header.html.erb"%>
</div>

<div class="wrapper">
  
  <div class="user-show-container">
    <%# サイドバー %>
    <%= render "users/shared/user_side.html.erb"%>
      
      
    <%# メインフィールド %>
    
    <div class="user-info-field">
      <div class="user-edit-form-container">
        <div class="user-form-wraps">

          <%# クレジットカード入力フォーム %>
          <div class="card-form-title">カード情報</div>
          <div class="card-brand-image">
            <%= image_tag "card-amex.gif", class:"card-logo" %>
            <%= image_tag "card-jcb.gif", class:"card-logo" %>
            <%= image_tag "card-mastercard.gif", class:"card-logo" %>
            <%= image_tag "card-visa.gif", class:"card-logo"%>
          </div>
          <%= form_with  url: user_card_path, id: 'customer_form', local: true do |f| %>

            <div class="card-form-wrap">
                <label class="card-form-text">カード番号</label>
                <%= f.text_field :number, class: "card-form", maxlength: "16", placeholder: "1234567812345678",style: "width: 16em", autofocus: true %> 
            </div>

            <div class="card-form-wrap", style="width: 150px">
                <label class="card-form-text">有効期限</label>
                <%= f.text_field :exp_month,maxlength: "2", class: "card-form" ,placeholder: "12"%><span>/</span>
                <%= f.text_field :exp_year,maxlength: "2", class: "card-form" ,placeholder: "24"%>
            </div>

            <div class="card-form-wrap" style="width: 150px">
                <label class="card-form-text">CVC番号</label>
                <%= f.text_field :cvc, maxlength: "4",class: "card-form", placeholder: "CVC" %>
            </div>

            <div class="user-edit-form-submit">
              <%= f.submit "登録する", class: "user-form-btn"%>
            </div>
          <% end %>

        </div>
      </div>
    </div>

    </div>
  </div>
</div>
