<div class="header">
  <%= render "shared/header.html.erb"%>
</div>

<div class="wrapper">
  
  <div class="user-show-container">
    <%# サイドバー %>
    <%= render "users/shared/user_side.html.erb"%>
      
      
    <%# メインフィールド %>
    
    <div class="user-info-field">
      <div class="user-edit-form-container">
        <div class="user-form-wraps">

          <%# クレジットカード入力フォーム %>
          <div class="card-form-title">カード情報</div>
          <div class="card-brand-image">
            <%= image_tag "card-amex.gif", class:"card-logo" %>
            <%= image_tag "card-jcb.gif", class:"card-logo" %>
            <%= image_tag "card-mastercard.gif", class:"card-logo" %>
            <%= image_tag "card-visa.gif", class:"card-logo"%>
          </div>

            <div class="card-form-wrap">
                <label class="card-form-text">カード番号</label>
                <%= "**** **** **** #{ + @card[:last4]}" %>
            </div>

            <div class="card-form-wrap", style="width: 200px">
                <label class="card-form-text">有効期限</label>
                <%= "#{@card[:exp_year]}年#{+ @card[:exp_month]}月" %>
            </div>

            

          

        </div>
      </div>
    </div>

    </div>
  </div>
</div>