<!DOCTYPE html>
<html>
  <head>
    <title>RentTools</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pay.jp/" , type="text/javascript"></script>
    <script type="text/javascript" src="https://postcode-jp.com/js/postcodejp.js" charset="utf-8"></script>
  </head>

  <body>
   <% if flash[:notice] %>
    <div class="flash" id="flash"><%= flash[:notice] %></div>
   <% end %>
   <% if flash.now[:alert] %>
    <div class="flash-alert" id="flash"><%= flash.now[:alert] %></div>
   <% end %>
    <%= yield %>
  </body>
</html>
